.project-types {
  margin-top: 50px;
}

.project-types-header {
  font-size: 1.8rem;
  font-family: "Lato";
  text-shadow: 0 0 0 rgb(112, 123, 177);
  color: rgb(54, 79, 199);
}

.project-types-desc {
  margin-top: 20px;
  font-size: 1.2rem;
  font-family: "Lato";
  color: #495057;
  text-align: justify;
  font-family: "Montserrat";
  line-height: 1.6rem;
}

.project-types-grid-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4);
  grid-template-rows: repeat(2);
  gap: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.project-types-grid-item {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.project-types-grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: 1;
  filter: brightness(70%);
}

.project-types-grid-item::after {
  content: "";
  display: block;
  padding-top: 100%;
}

.project-types-grid-item .title {
  position: absolute;
  top: 20px;
  left: 18px;
  z-index: 2;
  color: white;
  font-size: 1.2rem;
  font-family: "Lato";
  font-weight: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.project-types-grid-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-types-grid-item:hover .overlay {
  opacity: 1;
}

.project-types-grid-item .overlay span {
  color: white;
  font-size: 1.2rem;
  font-family: "Lato";
  font-weight: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.project-types-grid-item .overlay .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 40px;
  border: 1px solid white;
  
}

.residential {
  grid-row: 1 / span 2;
  grid-column: 1;
  background-image: url("../../../assets/Projects/Grid-Images/Residential.png");
}

.commercial {
  grid-row: 1;
  grid-column: 2;
  background-image: url("../../../assets/Projects/Grid-Images/Commercial.png");
}

.institutional {
  grid-row: 2;
  grid-column: 2;
  background-image: url("../../../assets/Projects/Grid-Images/Institutional.png");
}

.existing-building-retrofit {
  grid-row: 1 / span 2;
  grid-column: 3;
  background-image: url("../../../assets/Projects/Grid-Images/Existing-Building-Retrofit.png");
}

.infrastructure {
  grid-row: 1;
  grid-column: 4;
  background-image: url("../../../assets/Projects/Grid-Images/Infrastructure.png");
}

.industrial {
  grid-row: 2;
  grid-column: 4;
  background-image: url("../../../assets/Projects/Grid-Images/Industrial.png");
}
