.bizsafe-container {
  display: flex;
  margin-top: 3rem;
  width: 100%;
  height: 450px;
  background-color: #0a0c0b;
  align-items: center;
  column-gap: 2rem;
  row-gap: 1rem;
  justify-content: center;
}

.bizsafe-image-container {
  flex: 1 1 5%;
  box-sizing: border-box; /* Ensures padding is included in width calculation */
}

.bizsafe-text {
  flex: 1 1 30%;
  padding: 20px;
  box-sizing: border-box; /* Ensures padding is included in width calculation */
}

.bizsafe-image-container {
  display: flex;
  justify-content: center; /* Aligns the image to the right */
}

.bizsafe-image {
  max-width: auto;
  height: 380px;
  
}

.bizsafe-text {
  font-family: "Montserrat";
  line-height: 2.1875rem;
  font-size: 1.1rem;
  color: #ffffff;
}

.bizsafe-logo {
  width: 150px;
  height: 65px;
  position: absolute; /* Position it absolutely within the .bizsafe-text container */
  bottom: 20px; /* Distance from the bottom of the container */
  right: 40px; /* Distance from the right of the container */
}
