/* Large Screens */
@media (1700px <= width <= 2500px) {
}

/* Normal Screens - currently designed for this */
@media (max-width: 1700px) {
}

/* Landscape Tablets */
@media (max-width: 1500px) {

    .bizsafe-container {
        height: 467px;
    }

    .bizsafe-image {
        height: 388px;
    }
    
    .bizsafe-text {
        font-size: 1rem;
    }
    
    .bizsafe-logo {
        width: 140px;
        height: 59px;
    }

}

/* Landscape Tablets */
@media (max-width: 1300px) {

    .bizsafe-container {
        height: 417px;
    }

    .bizsafe-image {
        height: 333px;
    }
    
    .bizsafe-text {
        font-size: 0.9rem;
    }
    
    .bizsafe-logo {
        width: 120px;
        height: 49px;
    }

}


/* Landscape Tablets */
@media (max-width: 1100px) {

    .bizsafe-container {
        height: 392px;
    }

    .bizsafe-text {
        padding: 15px;
    }

    .bizsafe-image {
        height: 308 px;
    }
    
    .bizsafe-text {
        font-size: 0.8rem;
    }
    
    .bizsafe-logo {
        width: 90px;
        height: 34px;
    }

}

/* Landscape Tablets */
@media (max-width: 1000px) {

    .bizsafe-container {
        height: 367px;  
    }

    .bizsafe-text {
        padding: 10px;
    }

    .bizsafe-image {
        height: 283px;
    }
    
    .bizsafe-text {
        font-size: 0.75rem;
    }
    
    .bizsafe-logo {
        width: 80px;
        height: 29px;
    }

}


/* Tablets */
@media (max-width: 900px) {

    .bizsafe-container {
        flex-direction: column; /* Stack the containers vertically */
        height: auto; /* Allow the container height to adjust */
        padding-bottom: 30px;
    }

    .bizsafe-image {
        margin-left: -50px;
    }

    .bizsafe-text {
        height: auto; /* Adjust height to auto for stacking */
        padding-left: 45px;
        padding-right: 45px;
        line-height: 2rem;
    }

}

/* Smaller Tablets */
@media (max-width: 700px) {
}

/* Mobile */
@media (max-width: 550px) { 

    .bizsafe-image {
        height: 258px;
    }

    .bizsafe-text {
        padding-left: 35px;
        padding-right: 35px;
    }

}

/* Small Mobile */
@media (max-width: 390px) {

    .bizsafe-image {
        height: 233px;
    }

    .bizsafe-text {
        padding-left: 35px;
        padding-right: 35px;
    }

}