/* Large Screens */
@media (min-width: 1700px) {
  .projects-individual-header {
    font-size: 1.9rem;
  }

  .project-popup-content {
    height: 50%;
  }
}

@media (max-width: 1200px) {
  .projects-individual-header {
    font-size: 1.6rem;
  }

  .project-popup-content {
    height: 45%;
  }
}

/* Tablets */
@media (max-width: 1000px) {
  .project-popup-content {
    height: 360px;
  }

  .project-popup-content img {
    width: 40%;
    
    min-height: 360px;
    max-height: 360px;
  }

  .project-popup-content .project-popup-name {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }

  .project-popup-content .project-popup-buildingtype {
    font-size: 0.9rem;
    margin-bottom: 15px;
  }

  .project-popup-content .project-popup-location {
    font-size: 0.9rem;
    margin-bottom: 15px;
  }

  .project-popup-content .project-popup-developer {
    font-size: 0.9rem;
    margin-bottom: 15px;
  }

  .project-popup-content .project-popup-client {
    font-size: 0.9rem;
    margin-bottom: 15px;
  }

  .project-popup-content .project-popup-awards {
    font-size: 0.9rem;
    margin-bottom: 15px;
  }

  .project-popup-content .project-popup-status {
    font-size: 0.9rem;
    margin-bottom: 15px;
  }

  .project-popup-content .project-popup-completion {
    font-size: 0.9rem;
  }

  .close-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: black;
  }
}

/* Smaller Tablets */
@media (max-width: 700px) {
  .projects-individual-grid-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }


  .project-popup-header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }

  .project-popup-content img {
    width: 100%;
    min-height: 260px;
    max-height: 260px;
  }

  .project-popup-content {
    text-align: center;
    height: 80%;
    width: 60%; /* Adjust width as needed */
    overflow-y: auto;
  }

  .project-individual-title {
    font-size: 1.1rem;
  }
  .project-popup-info {
    padding: 20px 50px;
  }

  .project-popup-content .project-popup-name {
    font-size: 1.4rem;
    margin-bottom: 30px;
  }

  .project-popup-content .project-popup-buildingtype {
    font-size: 1.05rem;
    margin-bottom: 20px;
  }

  .project-popup-content .project-popup-location {
    font-size: 1.05rem;
    margin-bottom: 20px;
  }

  .project-popup-content .project-popup-developer {
    font-size: 1.05rem;
    margin-bottom: 20px;
  }

  .project-popup-content .project-popup-client {
    font-size: 1.05rem;
    margin-bottom: 20px;
  }

  .project-popup-content .project-popup-awards {
    font-size: 1.05rem;
    margin-bottom: 20px;
  }

  .project-popup-content .project-popup-status {
    font-size: 1.05rem;
    margin-bottom: 20px;
  }

  .project-popup-content .project-popup-completion {
    font-size: 1.05rem;
    padding-bottom: 0px;
  }


  /* Pagination */

  .pagination button {
    font-size: 0.8em;
    margin: 0 2px;
  }

  .pagination .desktop-view {
    display: none;
  }

  .pagination .mobile-view {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Mobile */
@media (max-width: 550px) {
  .projects-individual-header {
    font-size: 1.2rem;
  }

  .projects-individual-grid-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .project-individual-title {
    font-size: 1.1rem;
  }

  .project-popup-content {
    width: 70%;
  }

  
  .project-popup-info {
    padding: 0px 50px;
  }

  .project-popup-content .project-popup-name {
    font-size: 1.3rem;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .project-popup-content .project-popup-buildingtype {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .project-popup-content .project-popup-location {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .project-popup-content .project-popup-developer {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .project-popup-content .project-popup-client {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .project-popup-content .project-popup-awards {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .project-popup-content .project-popup-status {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .project-popup-content .project-popup-completion {
    font-size: 1rem;
  }

}

/* Small Mobile */
@media (max-width: 390px) {
  .projects-individual-grid-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .project-popup-content {
    height: 70%;
    width: 80%;
  }
  .project-individual-title {
    font-size: 1.1rem;
  }

  .project-popup-info {
    padding-bottom: 25px;
  }

}
