.company {
  display: flex;
  column-gap: 5rem;
  margin-top: 50px;
}

.company-text {
}

.company-header {
  font-size: 1.8rem;
  font-family: "Lato";
  font-weight: 500;
  color: rgb(54, 79, 199);
}

.company-desc {
  margin-top: 30px;
  font-size: 1rem;
  font-family: "Montserrat";
  line-height: 1.6rem;
}

.company-img-ctr {
  max-width: 50rem;
  margin: auto;
}

.company-img {
  max-width: 100%;
  height: auto;
}

.reveal {
  opacity: 0;
  transform: translateY(150px);
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
  
}