.hero-container {
  position: relative;
  z-index: 1; /* Lower than navbar's z-index */
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../../assets/Projects/Hero.jpg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 17%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.4rem;
  font-family: "Lato";
}
