/* Large Screens */
@media (1700px <= width <= 2500px) {
  .hero-text {
    left: 16%;
    font-size: 2.8rem;
  }
}

/* Normal Screens - currently designed for this */
@media (max-width: 1700px) {
}

/* Landscape Tablets */
@media (max-width: 1200px) {
  .hero-image {
    height: 60vh;
  }

  .hero-text {
    left: 19%;
    font-size: 2.2rem;
  }
}

/* Tablets */
@media (max-width: 900px) {
  .hero-image {
    height: 50vh;
  }

  .hero-text {
    left: 21%;
    font-size: 2rem;
  }
}

/* Smaller Tablets */
@media (max-width: 700px) {
  .hero-text {
    left: 25%;
    font-size: 1.9rem;
  }
}

/* Mobile */
@media (max-width: 550px) {
  .hero-text {
    left: 25%;
    font-size: 1.8rem;
  }
}

/* Small Mobile */
@media (max-width: 460px) {
  .hero-image {
    height: 45vh;
  }

  .hero-text {
    left: 30%;
    font-size: 1.6rem;
  }
}
