/* Large Screens */
@media (1700px <= width <= 2500px) {
}

/* Normal Screens - currently designed for this */
@media (max-width: 1700px) {
}

/* Landscape Tablets */
@media (max-width: 1200px) {
}

/* Tablets */
@media (max-width: 1000px) {
  .grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(4);
  }

  .residential {
    grid-row: 1 / span 2;
    grid-column: 1;
    background-image: url("../../../assets/Projects/Residential.png");
  }

  .commercial {
    grid-row: 1;
    grid-column: 2;
    background-image: url("../../../assets/Projects/Commercial.png");
  }

  .institutional {
    grid-row: 2;
    grid-column: 2;
    background-image: url("../../../assets/Projects/Institutional.png");
  }

  /* .existing-building-retrofit {
    grid-row: 3 / span 2;
    grid-column: 2;
    background-image: url("../../../assets/Projects/Existing-Building-Retrofit.png");
  }

  .infrastructure {
    grid-row: 3;
    grid-column: 1;
    background-image: url("../../../assets/Projects/Infrastructure.png");
  }

  .industrial {
    grid-row: 4;
    grid-column: 1;
    background-image: url("../../../assets/Projects/Industrial.png");
  } */

  .existing-building-retrofit {
    grid-row: 3 / span 2;
    grid-column: 1;
    background-image: url("../../../assets/Projects/Existing-Building-Retrofit.png");
  }

  .infrastructure {
    grid-row: 3;
    grid-column: 2;
    background-image: url("../../../assets/Projects/Infrastructure.png");
  }

  .industrial {
    grid-row: 4;
    grid-column: 2;
    background-image: url("../../../assets/Projects/Industrial.png");
  }
}

/* Smaller Tablets */
@media (max-width: 700px) {
}

/* Mobile */
@media (max-width: 550px) {
}

/* Small Mobile */
@media (max-width: 390px) {
}
