/* Large Screens */
@media (1700px <= width <= 2500px) {
}

/* Normal Screens - currently designed for this */
@media (max-width: 1700px) {
}

/* Landscape Tablets */
@media (max-width: 1200px) {
}

/* Tablets */
@media (max-width: 1000px) {

    .grid-container {
        margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(4, 2fr);
      grid-template-rows: repeat(2, 2fr);
  }


    .residential {
        grid-row: span 2;
        grid-column: span 2;
    }
    
    .commercial {
        grid-column: span 2;
    }
    
    .existing-building-retrofit {
        grid-row: span 2;
        grid-column: span 2;
    }
    
    .infrastructure {
        grid-column: span 2;

    }
    
    .institutional {
        grid-column: span 2;
    }
    
    .industrial {
        grid-column: span 2;
    }
    
}

/* Smaller Tablets */
@media (max-width: 700px) {
}

/* Mobile */
@media (max-width: 550px) { 
}

/* Small Mobile */
@media (max-width: 390px) {
}