/* Large Screens */
@media (max-width: 2000px) {
}

/* Normal Screens - currently designed for this */
@media (max-width: 1410px) {
}

/* Landscape Tablets */
@media (max-width: 1200px) {
}

/* Tablets */
@media (max-width: 900px) {
}

/* Smaller Tablets */
@media (max-width: 720px) {
  .hideOnMobile {
    display: none;
  }

  .nav-sidebar-icon {
    display: block;
  }
}

/* Mobile */
@media (max-width: 550px) {
  .sidebar .sidebar-img {
    margin-top: 7px;
  }

  .navbar-logo {
    width: 180px;
    height: 45px;
    margin-left: 30px;
  }

  .sidebar {
    width: 50%;
  }

  .nav-sidebar-icon {
    display: block;
    margin-right: -30px;
  }
}

/* Small Mobile */
@media (max-width: 390px) {
  .sidebar .sidebar-img {
    margin-top: 5px;
  }

  .navbar-logo {
    width: 160px;
    height: 40px;
    margin-left: 30px;
  }
}
