body {
  margin: 0;
}

/* Navbar */
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;

  /* use flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* this is to change the background of the navbar */
  transition: background-color 0.4s ease-in-out;

  z-index: 1000;
}

/* Navbar Logo */
.navbar-logo {
  width: 220px;
  height: 55px;
  margin-left: 40px;
}

.navbar .nav-links {
  margin-right: 60px;
}

.navbar .nav-link:hover {
  color: #364fc7;
}

.navbar .nav-link {
  margin-left: 40px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  font-family: Inter;

  /* this is to change the background of the navbar */
  transition: color 0.4s ease-in-out;
}

.navbar.active {
  background-color: white;
}

.navbar.active .nav-link {
  color: black;
  font-weight: 500;
}

.navbar.active .nav-link:hover {
  color: #364fc7;
}

/* Menu Icon (Located as part of the original navbar) */
.nav-sidebar-icon {
  display: none;
  height: 26px;
  width: 26px;
}

/* End of Navbar */

/* Start of Sidebar (FOR MOBILE NAVIGATION) */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.636);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  backdrop-filter: blur(10px);
  display: none;

  /* For animation */
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar .sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 30px;
  margin-top: 20px;
}

.sidebar .sidebar-link {
  font-size: 14px;
  color: black;
  text-decoration: none;
  font-family: Inter;
  transition: color 0.4s ease-in-out;
  margin-top: 30px;
}

.sidebar .sidebar-img {
  margin-top: 10px;
  margin-left: auto;
  margin-right: 60px;
  width: 26px;
  height: 26px;
}

.sidebar .sidebar-link:hover {
  color: #364fc7;
}

/* Testing for adding in sliding animation */

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.sidebar.open {
  transform: translateX(0);
  animation: slideInRight 0.3s forwards;
}

.sidebar.close {
  animation: slideOutRight 0.3s forwards;
}