/* Large Screens */
@media (1700px <= width <= 2500px) {
  .projects-header {
    font-size: 2rem;
  }
}

/* Normal Screens - currently designed for this */
@media (max-width: 1700px) {
}

/* Landscape Tablets */
@media (max-width: 1200px) {
  .projects-header {
    font-size: 1.6rem;
  }

  .card-header {
    font-size: 1.1rem;
  }

  .card-desc {
    font-size: 0.8rem;
  }
}

/* Tablets */
@media (max-width: 900px) {
  .flex-container {
    width: 102%;
  }
}

/* Smaller Tablets */
@media (max-width: 700px) {
  .flex-container {
    width: 103%;
  }
  .flex-container {
    margin-top: 25px;
  }

  .card-text-container {
    padding-left: 4px;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .card-header {
    font-size: 0.9rem;
  }

  .card-desc {
    font-size: 0.6rem;
  }

  .card-img {
    height: 11rem;
  }
}

/* Mobile */
@media (max-width: 550px) {
  .flex-container {
    width: 104%;
  }

  .projects-header {
    font-size: 1.2rem;
  }

  .card-img {
    height: 10rem;
  }

  .card-text-container {
    padding: 0.6rem 0.6rem;
    margin-left: 5px;
  }
}

/* Small Mobile */
@media (max-width: 390px) {
  .flex-container {
    width: 105%;
  }

  .card-header {
    font-size: 0.8rem;
  }

  .card-text-container {
    padding-left: 7px;
    padding-top: 10px;
    padding-bottom: 4px;
  }
}
