.projects {
  column-gap: 5rem;
  margin-top: 50px;
}

.projects-header {
  font-size: 1.8rem;
  font-family: "Lato";
  text-shadow: 0 0 0 rgb(54, 79, 199);
  color: rgb(54, 79, 199);
}

.flex-container {
  column-gap: 1rem;
  flex-direction: row;
  margin-top: 35px;
}

.card-container {
  display: flex;
  column-gap: 2rem;
  row-gap: 2rem;
  /* Card resizes when gap size changes  */
  flex-wrap: wrap;
}

.project-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex: 1 1 calc(33.33% - 2rem);
  transition: 0.2s all ease-in-out; /* Animation */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.card-img {
  height: 275px;
  width: 100%;
  /* Take up full width of its card container */
  object-fit: cover;
}

/* Add some padding inside the card container */
.card-text-container {
  width: 100%; /* Ensure full width */
  background: white;
  padding-bottom: 11px;
}

.card-header , .card-desc-container, .award-item {
  padding-left: 20px;
}

.card-header {
  font-size: 1.2rem;
  font-family: "Lato";
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 10px;
}

.card-desc-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.card-desc {
  font-size: 0.9rem;
  font-family: "Montserrat";

}

.awards-container {
  position: absolute;
  width: 100%;
  transition: bottom 0.3s ease;
}

.awards-list {
  background: white;
  flex-wrap: nowrap;
}

.award-item {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-family: "Montserrat";
  line-height: 1;
  margin-bottom: 10px;
}

.project-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.project-card:hover .card-text-container {
  transform: translateY(-30px); /* Default transform value on hover */
}


.location-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.award-icon {
  width: 20px;
  height: 20px; 
  margin-right: 5px;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  box-sizing: initial;
  padding-bottom: 10px;
}

/* For customization of slider arrows */

/* .slick-prev {
  left: 2% !important;
  z-index: 1;
}
.slick-next {
  right: 2% !important;
  z-index: 1;
} */


/* RIBBON */

.ribbon{
	display: inline-block;
    padding: 2px 15px;
	  position: absolute;
    right: 0px;
    top: 20px;
    line-height: 24px;
	  height:24px;
    text-align: center;
    vertical-align: baseline;
    font-weight: normal;
    background-color: #364FC7 !important;
    color: white;
    font-family: "Lato";
    font-size: 0.9rem;
}

.ribbon-edge:before{
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    border: 9px solid transparent;
    border-width: 14px 8px;
    border-right-color: #364FC7;
    border-color: #364FC7;
    /* gold: #FFD700 */
    border-left-color: transparent!important;
    left: -9px;
  
}