/* Large Screens */
@media (1700px <= width <= 2500px) {
  .projects-header {
    font-size: 2rem;
  }
}

/* Normal Screens - currently designed for this */
@media (max-width: 1700px) {

}

/* Normal Screens - currently designed for this */
@media (max-width: 1300px) {
  .card-header {
    padding-top: 10px;
    font-size: 1rem;
  }

  .card-desc {
    font-size: 0.7rem;
  }

  .award-item {
    font-size: 0.7rem;
  }
}

/* Landscape Tablets */
@media (max-width: 1200px) {
  .projects-header {
    font-size: 1.6rem;
  }

  .card-header,
  .card-desc-container,
  .award-item {
    padding-left: 10px;
  }

  .ribbon {
    top: 10px;
    line-height: 20px;
    height: 22px;
    font-size: 0.7rem;
  }

  .ribbon-edge:before {
    border-width: 13px 8px;
  }
}

/* Tablets */
@media (max-width: 900px) {
}

/* Smaller Tablets */
@media (max-width: 700px) {
  .card-header {
    font-size: 0.9rem;
  }

  .card-desc {
    font-size: 0.6rem;
  }

  .award-item {
    font-size: 0.6rem;
  }

  .card-img {
    height: 11rem;
  }

  .ribbon {
    line-height: 20px;
    height: 20px;
    font-size: 0.6rem;
  }

  .ribbon-edge:before {
    left: -8px;
    border-width: 12px 8px;
  }
  
  .card-desc-container {
    margin-bottom: -2px;
  }
}

/* Mobile */
@media (max-width: 550px) {
  .projects-header {
    font-size: 1.2rem;
  }

  .card-img {
    height: 10rem;
  }

  .ribbon {
    line-height: 16px;
    height: 16px;
  }

  .ribbon-edge:before {
    left: -8px;
    border-width: 10px 8px;
  }
}

/* Small Mobile */
@media (max-width: 390px) {
  .card-header {
    font-size: 0.8rem;
  }
}
