/* Large Screens */
@media (1700px <= width <= 2500px) {
  .vision-header {
    font-size: 1.8rem;
    width: 8.6rem;
  }

  .mission-header {
    font-size: 1.8rem;
    width: 9.8rem;
  }

  .vision-img {
    height: 450px;
  }

  .mission-img {
    height: 450px;
  }
}

/* Normal Screens - currently designed for this */
@media (max-width: 1700px) {
}

/* Landscape Tablets */
@media (max-width: 1200px) {
}

/* Tablets */
@media (max-width: 900px) {
}

/* Smaller Tablets */
@media (max-width: 700px) {
}

/* Mobile */
@media (max-width: 550px) {
}

/* Small Mobile */
@media (max-width: 390px) {
}
