/* Large Screens */
@media (1700px <= width <= 2500px) {
}

/* Normal Screens - currently designed for this */
@media (max-width: 1700px) {
}

/* Landscape Tablets */
@media (max-width: 1200px) {
}

/* Tablets */
@media (max-width: 900px) {
  .create-project-header {
    font-size: 1.6rem;
  }

  .create-project-secondary-header {
    font-size: 1.2rem;
  }

  .create-project-ctr label {
    font-size: 1rem;
  }
  .award-input-ctr {
    width: 100%;
  }
}

/* Smaller Tablets */
@media (max-width: 700px) {
}

/* Mobile */
@media (max-width: 550px) {
  .create-project-header {
    font-size: 1.4rem;
  }
  .award-input-ctr {
    width: 100%;
  }

  .create-project-secondary-header {
    font-size: 1.1rem;
  }

  .create-project-ctr label {
    font-size: 0.9rem;
  }
}

/* Small Mobile */
@media (max-width: 390px) {
}
