/* Large Screens */
@media (1700px <= width <= 2500px) {
}

/* Normal Screens - currently designed for this */
@media (max-width: 1700px) {
}

/* Landscape Tablets */
@media (max-width: 1220px) {
  .person-header {
    font-size: 1.6rem;
    color: #364fc7;
  }

  .dropdown-ctr {
    margin-top: 35px;
  }

  .person-table-ctr {
    margin-top: 25px;
  }

  .person-image {
    height: 80px; /* Set your desired height */
    width: 100px;
    object-fit: cover;
  }

  .person-table th,
  .person-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .person-table th {
    font-size: 0.8rem;
  }

  .person-table td {
    font-size: 0.8rem;
  }

  .table-actions {
    gap: 10px;
  }

  .add-person-ctr {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
  }

  .add-person-button {
    font-size: 14px;
    padding: 8px 10.5px;
  }

  .action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 5px;
    margin: auto;
  }

  .delete-button {
    margin-top: 10px;
  }

  .action-icons {
    height: 20px;
    width: 20px;
  }
}

/* Tablets */
@media (max-width: 1000px) {
  .mobile-table {
    display: none;
  }

  .delete-confirmation-popup {
    width: 50%;
  }

  .delete-confirmation-header {
    font-size: 1.4rem;
  }
  
  .delete-confirmation-description {
    font-size: 1rem;
    text-align: center;
  }
  
  .popup-cancel-btn {
    font-size: 1.1rem;
  }
  
  .popup-confirm-btn {
    font-size: 1.1rem;
  }
}

/* Smaller Tablets */
@media (max-width: 700px) {

  .delete-confirmation-header {
    font-size: 1.2rem;
  }
  
  .delete-confirmation-description {
    font-size: 0.9rem;
    text-align: center;
  }
  
  .popup-cancel-btn {
    font-size: 1rem;
  }
  
  .popup-confirm-btn {
    font-size: 1rem;
  }
}

/* Mobile */
@media (max-width: 550px) {
  .delete-confirmation-popup {
    width: 65%;
  }
}

/* Small Mobile */
@media (max-width: 390px) {
  .person-image {
    height: 60px;
    width: 80px;
  }
}
