/* Large Screens */
@media (1700px <= width <= 2500px) {
  .video-text {
    margin-left: 8rem;
    z-index: 1;
  }

  .video-header {
    font-family: "Montserrat";
    font-size: 1.8rem;
  }

  .video-desc {
    font-family: "Lato";
    font-size: 3.4rem;
  }
}

/* Normal Screens - currently designed for this */
@media (max-width: 1700px) {
}

/* Landscape Tablets */
@media (max-width: 1200px) {
  .video-text {
    margin-left: 4.2rem;
  }

  .video-header {
    font-size: 1.2rem;
  }

  .video-desc {
    font-size: 3.2rem;
    max-width: 40rem;
  }
}

/* Tablets */
@media (max-width: 900px) {
  .video-text {
    margin-left: 4rem;
  }

  .video-header {
    font-size: 1rem;
  }

  .video-desc {
    font-size: 2.6rem;
    max-width: 30rem;
  }
}

/* Smaller Tablets */
@media (max-width: 700px) {
  .video-text {
    margin-left: 4rem;
  }

  .video-header {
    font-size: 1rem;
  }

  .video-desc {
    font-size: 2rem;
    max-width: 24rem;
  }
}

/* Mobile */
@media (max-width: 550px) {
  .video-text {
    margin-left: 2rem;
  }

  .video-header {
    font-size: 1rem;
  }
}

/* Small Mobile */
@media (max-width: 390px) {
  .video-text {
    margin-left: 1.8rem;
  }

  .video-header {
    font-size: 0.8rem;
  }

  .video-desc {
    font-size: 1.8rem;
  }
}
