.signin-header {
  font-size: 1.8rem;
  font-family: "Lato";
  text-shadow: 0 0 0 rgb(112, 123, 177);
  color: rgb(54, 79, 199);
}

.signin-details {
  margin-top: 20px;
}

.signin-email {
}

.signin-password {
  margin-top: 20px;
}
input {
  margin-bottom: 15px;
}
.login-button {
  background-color: #364fc7;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
}
