/* Large Screens */
@media (1700px <= width <= 2500px) {
  .contact-header {
    font-size: 2rem;
  }
}

/* Normal Screens - currently designed for this */
@media (max-width: 1700px) {
  .contact-header {
    font-size: 1.8rem;
  }
}

/* Landscape Tablets */
@media (max-width: 1200px) {
  .contact-header {
    font-size: 1.6rem;
  }
}

/* Tablets */
@media (max-width: 900px) {
  .singapore-header {
    font-size: 1.1rem;
  }

  .company-address {
    font-size: 1.8rem;
  }

  .mailbox {
    width: 200px;
  }

  .on-submit-text {
    font-size: 1.1rem;
  }
}

/* Smaller Tablets */
@media (max-width: 700px) {
  .singapore-header {
    font-size: 1rem;
  }

  .company-address {
    font-size: 1.6rem;
  }

  .checkbox-text {
    font-size: 0.8rem;
  }

  .mailbox {
    width: 175px;
  }

  .on-submit-text {
    font-size: 1rem;
  }
}

/* Mobile */
@media (max-width: 550px) {
  .google-maps {
    height: 350px;
  }

  .contact-header {
    font-size: 1.2rem;
  }

  .mailbox {
    width: 175px;
  }

  .on-submit-text {
    font-size: 0.9rem;
  }
}

/* Small Mobile */
@media (max-width: 390px) {
  .google-maps {
    height: 300px;
  }

  .singapore-header {
    font-size: 1rem;
  }

  .company-address {
    font-size: 1.5rem;
  }

  .contact-header {
    font-size: 1.4rem;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.1rem;
  }

  input,
  textarea,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Ensure font consistency */
    font-size: 16px; /* Ensure font size consistency */
  }

  .recaptcha {
    transform: scale(0.8);
    transform-origin: 0 0;
  }

  .mailbox {
    width: 150px;
  }

  .on-submit-text {
    font-size: 0.8rem;
  }
}
