.company-info-ctr {
  margin-top: 50px;
  margin-bottom: 50px;
}

.singapore-header {
  color: rgba(0, 0, 0, 0.557);
  font-family: "Montserrat";
  font-size: 1.2rem;
  margin-bottom: 1.4rem;
  text-transform: uppercase;
}

.company-address {
  font-family: "Merriweather";
  font-size: 2rem;
  color: #364fc7;
}

.form-ctr {
  margin-top: 40px;
}

/* For hiding form after submit */
.hidden {
  display: none;
}

form {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0 auto;
  background: #fff;
}

.contact-header {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #364fc7;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.1rem;
}

.enquiry-dropdown {
  margin-bottom: 15px;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: Arial, sans-serif; /* Ensure font consistency */
  font-size: 16px; /* Ensure font size consistency */
}

.submit-button {
  background-color: #364fc7;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 15px;
  opacity: 0.6;
  cursor: not-allowed;
}

.enabled {
  opacity: 1;
  cursor: pointer;
}

button:hover {
  background-color: #242d56;
}

.result {
  font-family: "Lato";
}

.field-label {
  font-weight: 600;
}

.checkbox-ctr {
  display: flex;
  margin-bottom: 20px;
}

.checkbox {
  flex-basis: 0;
}

.checkbox-text {
  margin-left: 10px;
}

.form-error {
  color: red;
}

.google-maps {
  height: 450px;
}

.on-submit-ctr {
  padding-top: 50px;
  width: 80%;
  text-align: center;
  margin: auto;

  display: none;
}

.mailbox {
  width: 225px;
  height: auto;
}

.on-submit-text {
  margin-top: 50px;
  font-family: Arial;
  font-size: 1.2rem;
}

.message-appear {
  display: block;
}

.message-field {
  margin-bottom: 15px;
}