.people {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.people-header {
  font-size: 1.8rem;
  font-family: "Lato";
  text-shadow: 0 0 0 rgb(54, 79, 199);
  color: rgb(54, 79, 199);
}

.people-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap value to the desired spacing */
  justify-content: space-between; /* Ensure proper spacing between cards */
  margin-top: 30px;
}

.people-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  /* max-width: 265px; */
  border-radius: 8px;
}

.people-card img {
  width: 255px; /* Ensure images fill the card width */
  height: 330px; /* Maintain aspect ratio */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.people-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.people-card-info {
  padding: 12.5px;
  padding-left: 15px;
}

.people-name {
  font-size: 20px;
  font-family: "Lato";
  padding-bottom: 10px;
}

.people-role {
  font-size: 14px;
  font-family: "Lato";
  font-weight: 100;
  color: #495057;
}


/* -- Popup --*/

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 40px;
  border-radius: 8px;
  width: 80%; /* Adjust width as needed */
  max-width: 1051px; /* Adjust max-width as needed */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow-y: auto;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  animation: openScaleEffect 0.5s ease forwards; /* Apply the scale animation */
}

@keyframes openScaleEffect {
  0% {
    transform: scale(0); /* Start with the popup hidden (scaled to 0) */
  }
  100% {
    transform: scale(1); /* Scale up to full size */
  }
}

.popup-content-header {
  display: flex;
  margin-bottom: 20px;
}

.popup-content img {
  max-width: 211px; /* Adjust image size as needed */
  margin-right: 30px;
  border-radius: 8px; 
}

.popup-content-info {
  flex: 1;
  font-family: "Lato";
}

.popup-content .popup-name {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
  color: #364FC7;
}

.popup-content .popup-role {
  font-size: 1.4rem;
  color: #495057;
  margin: 10px 0;
}

.popup-content .popup-qualifications {
  font-size: 1.25rem;
  margin: 20px 0;
  white-space: pre-line;
}

.popup-content .popup-description {
  font-family: "Lato";
  font-size: 1.25rem;
  margin-top: 20px;
  line-height: 1.5;
  text-align: justify;
  white-space: pre-line; /* this is to automatically break lines whenever there are whitespaces */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 32px;
  cursor: pointer;
  color: black;
}