.people {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.people-text {
  margin-bottom: 20px;
}

.people-header {
  font-size: 1.8rem;
  font-family: "Lato";
  text-shadow: 0 0 0 rgb(54, 79, 199);
  color: rgb(54, 79, 199);
}

.people-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap value to the desired spacing */
  justify-content: space-between; /* Ensure proper spacing between cards */
  margin-top: 20px;
}

.people-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  max-width: 265px;
}

.people-card img {
  width: 265px; /* Ensure images fill the card width */
  height: 340px; /* Maintain aspect ratio */
}

.people-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.people-card-info {
  padding: 15px;
}

.people-name {
  font-size: 20px;
  font-family: "Lato";
  padding-bottom: 10px;
  
}

.people-role {
  font-size: 14px;
  font-family: "Lato";
  font-weight: 100;
  color: #495057;
}
