/* Large Screens */
@media (1700px <=width <=2500px) {
  .people {
    column-gap: 3.5rem;
  }

  .people-header {
    font-size: 2rem;
  }

  .people-card.seven {
    flex: 0 0 calc((25.35% - 25px));
    color: white;
  }
}

/* Normal Screens - currently designed for this */
@media (max-width: 1700px) {
}

@media (max-width: 1500px) {
  .people-grid-container.default {
    column-gap: 100px;
  }
}

/* Bigger Tablets*/
@media (max-width: 1400px) {
  .people-name {
    font-size: 1rem;
  }

  .people-role {
    font-size: 0.8rem;
  }

  .people-grid-container {
    column-gap: 50px;
  }

  /* Default laypout for 4  people */
  .people-grid-container.default {
    grid-template-columns: repeat(4, 1fr);
    /* Three columns */
    column-gap: 20px;
  }

  /* layout for 5 people */
  .people-grid-container.five {
    grid-template-columns: repeat(5, 1fr);
    /* Three columns */
    column-gap: 20px;
  }

  .people-card.seven {
    flex: 0 0 calc((25.35% - 25px));
    color: white;
  }
}

/* Landscape Tablets */
@media (max-width: 1200px) {
  .people-header {
    font-size: 1.6rem;
  }

  .people {
    row-gap: 40px;
  }

  .people-header {
    font-size: 1.6rem;
  }

  .people-grid-container {
    margin-top: -10px;
  }

  .people-name {
    font-size: 0.85rem;
  }

  .people-role {
    font-size: 0.75rem;
  }

  /* Layout for 6 people */
  .people-grid-container.six {
    grid-template-columns: repeat(3, 1fr);
    /* Three columns */
    column-gap: 150px;
  }

  .people-card.seven {
    flex: 0 0 calc((25.6% - 25px));
    color: white;
  }

  .people-grid-container.eight {
    column-gap: 50px;
  }
  
}

/* Tablets */
@media (max-width: 1000px) {
  .people {
    row-gap: 40px;
  }

  .people-grid-container {
    column-gap: 20px;
  }

  .people-header {
    font-size: 1.6rem;
  }


  .people-grid-container.five {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .people-grid-container.five .people-card {
    flex: 0 1 25%; /* Adjust the basis to fit 3 columns */
    margin: 0 10px 10px; /* Adjust the margin for spacing */
  }

  /* Layout for 6 people */
  .people-grid-container.six {
    column-gap: 75px;
  }

  .popup-content .popup-name {
    font-size: 1.3rem;
  }

  .popup-content .popup-role {
    font-size: 1.1rem;
  }

  .popup-content .popup-qualifications {
    font-size: 1rem;
  }

  .popup-content .popup-description {
    font-size: 1rem;
  }
}

/* Smaller Tablets */
@media (max-width: 800px) {
  /* Default laypout for 4  people */
  .people-grid-container.default {
    grid-template-columns: repeat(2, 1fr);
    /* Three columns */
    column-gap: 40px;
  }


  /* Layout for 6 people */
  .people-grid-container.six {
    grid-template-columns: repeat(2, 1fr);
    /* Three columns */
  }

  /* Layout for 7 people */
  .people-grid-container.seven {
    grid-template-columns: repeat(2, 1fr);
    /* Three columns */
  }

  .people-grid-container.eight {
    grid-template-columns: repeat(2, 1fr);
    /* 4 columns */
    column-gap: 100px;
  }

  .popup-content-header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }

  .popup-content img {
    max-width: 181px;
    margin: 0 0 20px 0;
  }

  .popup-content-info {
    text-align: center;
  }

  .popup-content .popup-name {
    font-size: 1.3rem;
  }

  .popup-content .popup-role {
    font-size: 1.1rem;
  }

  .popup-content .popup-qualifications {
    font-size: 1rem;
  }

  .popup-content .popup-description {
    font-size: 1rem;
    margin-top: 5px;
  }

  .people-name {
    padding-left: 12.5px;
  }

  .people-role {
    padding-left: 12.5px;
    font-size: 0.6rem;
  }

    .people-grid-container.five .people-card {
      flex: 0 1 40%; /* Adjust the basis to fit 3 columns */
      margin: 0 10px 10x; /* Adjust the margin for spacing */
    }


  .people-grid-container.seven {
    column-gap: 20px;
  }

  .people-card.seven {
    flex: 0 0 calc((25.75% - 20px));
  }
}

/* Special case for 7 people card */
@media (max-width: 640px) {
  .people-card.seven {
    flex: 0 0 calc((50% - 25px));
  }

  .people-grid-container.eight {
    column-gap: 50px;
  }
}

/* Mobile */
@media (max-width: 550px) {
  .people-header {
    font-size: 1.2rem;
  }

  .people-name {
    font-size: 0.8rem;
  }

  .people-role {
    font-size: 0.6rem;
  }

  .people-card-read-more {
    font-size: 0.7rem;
  }

  .popup-content {
    width: 70%;
  }

  .popup-content .popup-qualifications {
    font-size: 0.9rem;
  }

  .people-grid-container.five {
    column-gap: 0px;
  }



  /* Layout for 6 people */
  .people-grid-container.six {
    /* Three columns */
    column-gap: 25px;
  }

  .people-grid-container.eight {
    column-gap: 25px;
  }
}

/* Small Mobile */
@media (max-width: 400px) {
  .people-name {
    padding-left: 10px;
    font-size: 0.8rem;
  }

  .people-role {
    padding-left: 10px;
    font-size: 0.6rem;
  }

  .popup-content .popup-description {
    font-size: 0.9rem;
  }

  .people-grid-container.five {
    row-gap: 20px;
  }

  .people-grid-container.five .people-card {
    flex: 0 1 40%; 
    margin: 0 0px 0px;
  }
}

/* Smaller Mobile */
@media (max-width: 350px) {
  .people-card {
    min-width: 110px;
    max-width: 1100px;
  }

  .people-card img {
    width: 100%;
    height: auto;
  }

  .people-name {
    font-size: 0.7rem;
  }

  .people-role {
    font-size: 0.55rem;
  }
}
