/* Large Screens */
@media (1700px <= width <= 2500px) {
    .people {
      column-gap: 3.5rem;
    }
  
    .people-header {
      font-size: 2rem;
    }

  }
  
  /* Normal Screens - currently designed for this */
  @media (max-width: 1700px) {
    
  }

  /* Bigger Tablets*/
  @media (max-width: 1400px) {
    .people-card {
        min-width: 225px;
        max-width: 225px;
    }
      
    .people-card img {
        width: 225px;
        height: 300px; 
    }

    .people-name {
        font-size: 18px;
    }
  
    .people-role {
        font-size: 12px
    }
  }  
  
  
  /* Landscape Tablets */
  @media (max-width: 1270px) {
    .people-header {
      font-size: 1.6rem;
    }
  
  }
  
  /* Tablets */
  @media (max-width: 1200px) {
    .people {
      flex-wrap: wrap;
      row-gap: 40px;
    }
  
    .people-header {
      font-size: 1.6rem;
    }

    .people-card {
        min-width: 185px;
        max-width: 185px;
    }
      
    .people-card img {
        width: 185px;
        height: 230px; 
    }

    .people-name {
        font-size: 18px;
    }
  
    .people-role {
        font-size: 12px
    }
  }
  
  /* Tablets */
  @media (max-width: 1000px) {
    .people {
      flex-wrap: wrap;
      row-gap: 40px;
    }
  
    .people-header {
      font-size: 1.6rem;
    }

    .people-card {
        min-width: 145px;
        max-width: 145px;
    }
      
    .people-card img {
        width: 145px;
        height: 200px; 
    }

  }
  
  /* Smaller Tablets */
  @media (max-width: 800px) {
    .people-card {
        min-width: 125px;
        max-width: 125px;
      }
    
      .people-card img {
        width: 125px;
        height: 170px;
      }

  }
  
  /* Mobile */
  @media (max-width: 550px) {
    .people-header {
      font-size: 1.2rem;
    }


  }
  
  /* Small Mobile */
  @media (max-width: 390px) {
  }
  