.people {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.people-header {
  font-size: 1.8rem;
  font-family: "Lato";
  text-shadow: 0 0 0 rgb(54, 79, 199);
  color: rgb(54, 79, 199);
}

.people-grid-container {
  display: grid;
  margin-top: 30px;
  justify-content: space-around;
  row-gap: 30px;
}

/* Default layout for fewer people */
.people-grid-container.default {
  grid-template-columns: repeat(4, 1fr); /* Three columns */
  column-gap: 150px;
}

/* Layout for 5 people */
.people-grid-container.five {
  grid-template-columns: repeat(5, 1fr); /* Three columns */
  column-gap: 25px; 
}

/* Layout for 6 people */
.people-grid-container.six {
  grid-template-columns: repeat(6, 1fr); /* Three columns */
  column-gap: 20px;
}

/* Layout for 7  people */
.people-grid-container.seven {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 25px;
}

/* Layout for 8 or more people */
.people-grid-container.eight {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 100px;
}


.people-card {
  height: auto; 
  width: auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box; /* Include padding and border in the height/width */
  background: #fff; /* Background color for better visibility */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for scaling and shadow */
  overflow: hidden;
  position: relative;
  flex-direction: column;
}

.people-card.seven{
  flex: 0 0 calc((25.45% - 25px) );
  flex-wrap: wrap;
  color: white;
}

.people-card img {
  width: 100%;
  height: auto;
}

.people-card-info {
  background: white;
  transition: transform 0.3s ease;
}

.people-card-read-more {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  background: #364fc7;
  color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
  font-family: "Lato";
  transition: bottom 0.3s ease 0s;
}

.people-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.people-card:hover .people-card-info {
  transform: translateY(-30px);
}

.people-card:hover .people-card-read-more {
  bottom: 0;
}

.people-name {
  font-size: 1.05rem;
  font-family: "Lato";
  padding-top: 12.5px;
  padding-left: 15px;
  padding-bottom: 12.5px;
  color: black;
}

.people-role {
  font-size: 0.85rem;
  font-family: "Lato";
  font-weight: 100;
  color: #495057;
  padding-left: 15px;
  padding-bottom: 12.5px;
}


/* -- Popup --*/

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 40px;
  width: 80%; /* Adjust width as needed */
  max-width: 1051px; /* Adjust max-width as needed */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow-y: auto;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  animation: openScaleEffect 0.5s ease forwards; /* Apply the scale animation */
}

@keyframes openScaleEffect {
  0% {
    transform: scale(0); /* Start with the popup hidden (scaled to 0) */
  }
  100% {
    transform: scale(1); /* Scale up to full size */
  }
}

.popup-content-header {
  display: flex;
  margin-bottom: 20px;
}

.popup-content img {
  max-width: 229px; /* Adjust image size as needed */
  max-height: 305px;
  margin-right: 30px;
}

.popup-content-info {
  flex: 1;
  font-family: "Lato";
}

.popup-content .popup-name {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
  color: #364fc7;
}

.popup-content .popup-role {
  font-size: 1.4rem;
  color: #495057;
  margin: 10px 0;
}

.popup-content .popup-qualifications {
  font-size: 1.25rem;
  margin: 20px 0;
  white-space: pre-line;
}

.popup-content .popup-description {
  font-family: "Lato";
  font-size: 1.25rem;
  margin-top: 15px;
  line-height: 1.5;
  text-align: justify;
  white-space: pre-line; /* this is to automatically break lines whenever there are whitespaces */
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 38px;
  cursor: pointer;
  color: black;
}
