/* Large Screens */
@media (1700px <= width <= 2500px) {
  .services-header {
    font-size: 2rem;
  }

  .services-desc {
    font-size: 1.4rem;
  }

  .grid-item .overlay {
    font-size: 1.4rem;
  }
}

/* Normal Screens - currently designed for this */
@media (max-width: 1700px) {
  .services-header {
    font-size: 1.8rem;
  }
}

/* Landscape Tablets */
@media (max-width: 1300px) {
  .services-header {
    font-size: 1.6rem;
  }

  .grid-container-3-cols {
    column-gap: 50px;
  }

  .grid-container-4-cols {
    column-gap: 50px;
  }

}

/* Tablets */
@media (max-width: 1000px) {

  .grid-container-3-cols {
    column-gap: 25px;
    row-gap: 25px;
    margin-bottom: 25px;
  }

  .grid-container-4-cols {
    column-gap: 25px;
    row-gap:25px;
  }

  .services-grid-item .overlay {
    font-size: 1.1rem;
  }
}

/* Smaller Tablets */
@media (max-width: 850px) {
  .services-desc {
    font-size: 1.1rem;
  }

  .grid-container-3-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid-container-4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-grid-item .overlay {
    font-size: 1rem;
  }

  .air-conditioning-and-mechanical-ventilation {
    grid-row: 1;
    grid-column: 1;
  }
  
  .plumbing-sanitary-and-gas {
    grid-row: 1;
    grid-column: 2;
  }
  
  .fire-protection {
    grid-row: 2;
    grid-column: 1;
  }
  
  .swimming-pool-filtration {
    grid-row: 2;
    grid-column: 2;
  }
  
  .electrical-and-security {
    grid-row: 3;
    grid-column: 1;
  }
  
  .lift-and-escalator {
    grid-row: 3;
    grid-column: 2;
  }
  
  .building-management-system {
    grid-row: 4;
    grid-column: 1 / span 2;
  }
  
  /* Row 4 onwards */
  .feasibility-studies {
    grid-row: 1;
    grid-column: 1;
  }
  .testing-and-commissioning {
    grid-row: 1;
    grid-column: 2;
  }
  .authority-and-submission {
    grid-row: 2;
    grid-column: 1;
  }
  .vetting-of-tenancy-me-design {
    grid-row: 2;
    grid-column: 2;
  }

}

/* Mobile */
@media (max-width: 550px) {
  .grid-item .overlay {
    font-size: 1.1rem;
  }

  .services-header {
    font-size: 1.2rem;
  }
}

/* Small Mobile */
@media (max-width: 390px) {
  .grid-item .overlay {
    font-size: 1rem;
    left: 5px;
  }

  .services-desc {
    font-size: 1rem;
  }
}
