.services {
  margin-top: 50px;
}

.services-header {
  font-size: 1.8rem;
  font-family: "Lato";
  text-shadow: 0 0 0 rgb(112, 123, 177);
  color: rgb(54, 79, 199);
}

.services-desc {
  margin-top: 20px;
  font-size: 1.2rem;
  font-family: "Lato";
  color: #495057;
  text-align: justify;
}

.grid-container-3-cols {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
  row-gap: 50px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* Change to 4 columns from row 4 onwards */
.grid-container-4-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 100px;
  row-gap: 50px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.services-grid-item {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 245px ;
  transition: transform 0.7s ease;
}

.services-grid-item:hover {
  transform: scale(1.03);
}

.services-grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: 1;
  filter: brightness(50%);
}

.services-grid-item::after {
  content: "";
  display: block;
  padding-top: 100%;
}

.services-grid-item .overlay {
  position: absolute;
  z-index: 2;
  color: white; 
  font-size: 1.0rem;
  font-family: "Montserrat";
  font-weight: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center; /* center text */
}

.services-grid-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.air-conditioning-and-mechanical-ventilation {
  grid-row: 1;
  grid-column: 1;
  background-image: url("../../../assets/Services/aircon.jpg");
}

.plumbing-sanitary-and-gas {
  grid-row: 1;
  grid-column: 2;
  background-image: url("../../../assets/Services/plumbing.jpg");
}

.fire-protection {
  grid-row: 1;
  grid-column: 3;
  background-image: url("../../../assets/Services/fire-protection.jpg");
}

.swimming-pool-filtration {
  grid-row: 2;
  grid-column: 1;
  background-image: url("../../../assets/Services/swimming-pool.jpg");
}

.electrical-and-security {
  grid-row: 2;
  grid-column: 2;
  background-image: url("../../../assets/Services/electrical-security.jpg");
}

.lift-and-escalator {
  grid-row: 2;
  grid-column: 3;
  background-image: url("../../../assets/Services/lift.jpg");
}

.building-management-system {
  grid-row: 3;
  grid-column: 1 / span 3;
  background-image: url("../../../assets/Services/building.jpg");
}

/* Row 4 onwards */
.feasibility-studies {
  grid-row: 1;
  grid-column: 1;
  background-image: url("../../../assets/Services/feasibility-studies.jpg");
}
.testing-and-commissioning {
  grid-row: 1;
  grid-column: 2;
  background-image: url("../../../assets/Services/testing-commisioning-one.jpg");
}
.authority-and-submission {
  grid-row: 1;
  grid-column: 3;
  background-image: url("../../../assets/Services/authority-submission.jpg");
}
.vetting-of-tenancy-me-design {
  grid-row: 1;
  grid-column: 4;
  background-image: url("../../../assets/Services/vetting-design.jpg");
}