/* Large Screens */
@media (1700px <= width <= 2500px) {
  .edit-project-header {
    font-size: 2rem;
  }
}

/* Normal Screens - currently designed for this */
@media (max-width: 1700px) {
}

/* Landscape Tablets */
@media (max-width: 1200px) {
  .edit-project-header {
    font-size: 1.6rem;
  }
}

/* Tablets */
@media (max-width: 900px) {
  .edit-award-input-ctr {
    width: 100%;
  }
}

/* Smaller Tablets */
@media (max-width: 700px) {
  .edit-new-project-img-ctr {
    margin-left: 50px;
  }

  .current-project-img,
  .new-project-img {
    width: 189px;
    height: 265px;
    margin-top: 10px;
  }
}

/* Mobile */
@media (max-width: 550px) {
  .separate-text {
    margin-top: 0;
  }
  .edit-field-header {
    font-size: 1rem;
  }
  .edit-award-input-ctr {
    width: 100%;
  }

  .current-project-img,
  .new-project-img {
    width: 120px;
    height: 150px;
  }
}

/* Small Mobile */
@media (max-width: 390px) {
  .edit-new-project-img-ctr {
    margin-left: 15px;
  }
}

