/* Large Screens */
@media (1700px <= width <= 2500px) {
  .edit-project-header {
    font-size: 2rem;
  }
}

/* Normal Screens - currently designed for this */
@media (max-width: 1700px) {
}

/* Landscape Tablets */
@media (max-width: 1200px) {
  .edit-project-header {
    font-size: 1.6rem;
  }
}

/* Tablets */
@media (max-width: 1000px) {
  .edit-award-input-ctr {
    width: 100%;
  }

  .edit-current-new-project-img-ctr {
    flex-direction: column;
  }

  .edit-new-project-img-ctr {
    margin-left: 0px;
  }
}

/* Smaller Tablets */
@media (max-width: 700px) {
  .current-project-img,
  .new-project-img {
    width: 250px;
    height: 175px;
    margin-top: 10px;
  }
}

/* Mobile */
@media (max-width: 550px) {
  .separate-text {
    margin-top: 0;
  }
  .edit-field-header {
    font-size: 1rem;
  }
  .edit-award-input-ctr {
    width: 100%;
  }

 
}

/* Small Mobile */
@media (max-width: 390px) {
  .current-project-img,
  .new-project-img {
    width: 150px;
    height: 125px;
  }
}
