/* Large Screens */
@media (1700px <= width <= 2500px) {
  .edit-company-header {
    font-size: 2rem;
  }
}

/* Normal Screens - currently designed for this */
@media (max-width: 1700px) {
}

/* Landscape Tablets */
@media (max-width: 1200px) {
  .edit-company-header {
    font-size: 1.6rem;
  }
}

/* Tablets */
@media (max-width: 1000px) {
  .current-company-img,
  .new-company-img {
    width: 300px;
    height: 240px;
    margin-top: 10px;
  }

  .edit-new-company-img-ctr {
    margin-left: 0px;
  }
  .edit-current-new-comapny-img-ctr {
    flex-direction: column;
  }

  
}

/* Smaller Tablets */
@media (max-width: 700px) {


}

/* Mobile */
@media (max-width: 550px) {
  .separate-text {
    margin-top: 0;
  }
  
 

  .edit-field-header {
    font-size: 1rem;
  }
}

/* Small Mobile */
@media (max-width: 390px) {
 

  .current-company-img,
  .new-company-img {
    width: 250px;
    height: 200px;
    margin-top: 10px;
  }
}
