/* Large Screens */
@media (1700px <= width <= 2500px) {
  .other-services-header {
    font-size: 2rem;
  }

  .other-services-desc {
    font-size: 1.4rem;
  }
  .other-services-card-title {
    font-size: 1.4rem;
  }
}

/* Normal Screens - currently designed for this */
@media (max-width: 1700px) {
  .other-services-header {
    font-size: 1.8rem;
  }
}

/* Landscape Tablets */
@media (max-width: 1300px) {
  .other-services-header {
    font-size: 1.6rem;
  }

  .other-services-desc {
    font-size: 1rem;
  }

}

/* Tablets */
@media (max-width: 1000px) {
  .other-services-card-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }
  .other-services-card-title {
    font-size: 1.1rem;
  }
}

/* Smaller Tablets */
@media (max-width: 700px) {
  .other-services-desc {
    font-size: 1.1rem;
  }
  .other-services-card-title {
    font-size: 1rem;
  }
}

/* Mobile */
@media (max-width: 550px) {
  .other-services-header {
    font-size: 1.2rem;
  }

  .other-services-desc {
    font-size: 0.8rem;
  }

  .other-services-card-title {
    font-size: 0.8rem;
  }
}

/* Small Mobile */
@media (max-width: 500px) {
  .other-services-desc {
    font-size: 1rem;
  }
  .other-services-card-title {
    font-size: 1rem;
  }
  .other-services-card-container {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    gap: 20px; /* Add some gap between the cards */
    width: 100%; /* Ensure full width */
    padding: 0; /* Remove any padding */
    margin: 0; /* Remove any margin */
  }
  .other-services-card {
    margin: 0 auto; /* Center cards horizontally */
    width: 100%; /* Ensure cards take full width */
  }
}
