.dashboard-ctr {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.dashboard-header {
    font-size: 2rem;
    color: #364FC7;
}

.dropdown-ctr {
    margin-top: 25px;
}

.dashboard-table-ctr {
    margin-top: 25px;
}

.project-image {
    height: 100px; /* Set your desired height */
    width: auto;
    object-fit: cover;
  }
  
  .project-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .project-table th,
  .project-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .project-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table-actions {
    display: flex;
    gap: 10px;
  }
  
  .action-button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .edit-button {
    background-color: orange;
    color: white;
  }
  
  .delete-button {
    background-color: red;
    color: white;
  }
  
  .add-project-button {
    margin-top: 25px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    flex-direction: row-reverse;
  }
  
  .sentinel {
    text-align: center;
    padding: 20px;
    font-size: 16px;
  }
  